# 本机服务器域名
SERVER_HOST=http://localhost
SERVER_PORT=3000

# 加密相关
JWT_SECRET=
SALT_ROUNDS=

# 数据库
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# 阿里云OSS
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=

# 阿里云短信推送
SMS_ACCESS_KEY_ID=
SMS_ACCESS_KEY_SECRET=
SMS_SIGN_NAME=
SMS_TEPL_REGISTER=
SMS_TEPL_RESET_PASSWORD=
